@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.app-body {
    display: flex;
}

.title {
    margin: 20px;
}

.operator-display {
    margin: 5px 20px;
    width: 350px;
    height: 50px;
    text-align: right;
    font-size: 40px;
}

.input {
    margin: 0 20px;
    width: 350px;
    height: 50px;
    background-color: silver;
    text-align: right;
    font-size: 40px;
    font-weight: 400;
}

.btn-container {
    padding: 3px;
    margin: 10px 20px;
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

#clear {
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: inherit;
    font-weight: 100;
}

#del {
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: inherit;
    font-weight: 100;
}

#num7 {
    grid-column-start: 1;
}

.btn-num {
    font-family: inherit;
    font-weight: 700;
}

.btn-font {
    font-family: inherit;
    font-weight: 100;
}

.btn {
    cursor: pointer;
}

.log {
    border: solid;
    width: 380px;
    height: 500px;
    text-align: right;
}