body {
    display: flex;
    flex-direction: column;
}

.app-body {
    display: flex;
}

.title {
    margin: 20px;
}

.input {
    margin: 0 20px;
    width: 200px;
    height: 20px;
    background-color: silver;
    text-align: right;
}

.btn-container {
    padding: 3px;
    margin: 10px 20px;
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: auto auto auto auto;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 5;
}

#equals {
    grid-column-start: 1;
    grid-column-end: 5;
}

#num0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn {
    cursor: pointer;
}

.log {
    border: solid;
    width: 380px;
    height: 500px;
    text-align: right;
}