@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}

.app-body {
  display: flex;
}

.title {
  margin: 20px;
}

.calculator {
  background-color: #efefef;
  width: 320px;
  min-width: 320px;
  height: 450px;
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: #929292 2px 2px 2px;
}

.operator-display {
  margin: 0 0 10px 0;
  padding: 0 10px;
  width: auto;
  height: 35px;
  text-align: right;
  font-size: 25px;
  background-color: rgb(215, 215, 215);
  border-radius: 1px;
}

.input {
  margin: 0;
  padding: 0 10px;
  width: auto;
  height: 50px;
  background-color: white;
  text-align: right;
  font-size: 35px;
  font-weight: 400;
  overflow: hidden;
  border-radius: 1px;
}

.btn-container {
  margin: 10px 2px;
  padding: 0px;
  display: grid;
  width: auto;
  height: 325px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

#clear {
  grid-column-start: 1;
  grid-column-end: 2;
}

#del {
  grid-column-start: 2;
  grid-column-end: 3;
}

#select {
  grid-column-start: 3;
  grid-column-end: 5;
}

#num7 {
  grid-column-start: 1;
}

.btn-num {
  font-family: inherit;
  font-weight: 700;
}

.btn {
  cursor: pointer;
  border: 0;
  background-color: white;
  font-size: 25px;
  margin: 1px;
  border-radius: 1px;
}
.btn:hover {
  background-color: rgb(212, 212, 212);
}
.btn:active {
  background-color: rgb(174, 174, 174);
}
.btn:disabled {
  background-color: #efefef;
}

.btn-text {
  font-family: inherit;
  font-weight: 100;
  font-size: 20px;
}

.btn-operator {
  font-weight: 400;
}

.log-container {
  background-color: #efefef;
  box-shadow: #929292 2px 2px 2px;
  border-radius: 3px;
  padding: 10px;
  margin: 20px;
  width: 502px;
  min-width: 502px;
}

.log {
  list-style: none;
  padding: 0;
  margin: 0;
}

.log > li {
  display: flex;
}

.text {
  height: 20px;
  width: 120px;
  resize: none;
  border: none;
  margin: 5px;
  text-align: center;
  font-family: inherit;
  font-size: 15px;
}
.text-operator {
  height: 20px;
  width: 30px;
  resize: none;
  border: none;
  margin: 5px;
  background-color: rgb(215, 215, 215);
  text-align: center;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
}
.display-space {
  height: 20px;
  width: 30px;
  resize: none;
  border: none;
  margin: 5px 5px 5px 139px;
  background-color: rgb(215, 215, 215);
  text-align: center;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
}

.equal-answer {
  height: 24px;
  width: 120px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
}
.equal-sign {
  background-color: rgb(215, 215, 215);
  height: 24px;
  width: 30px;
  margin: 5px;
  text-align: center;
}
.display-no {
  display: none;
}

.log-btn-container {
  margin: 5px;
}
.btn-log {
  width: 80px;
  height: 60px;
  margin: 0;
}
